
/*RECIPE*/

.row {
	margin-left: 0px;
	margin-right: 0px;
}
.recipe {
	border-left: 1px solid white;
	border-right: 1px solid white;
	height: 100px;
	padding: 1px;
}

.img-recipe {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/*MENUBAR*/
.menubar {
	border:1px solid black;
	background-color: #1d8712;
}

.search-menu-group {
	margin-top: 12px;
}

.signup {
	color: white;
}

.menu {
	margin-top: 20px;
	text-align: center;
	height: 40px;
	
}

/*PRMOTION & CHECKOUT*/

.promo {
	border:1px solid black;
	height: 70px;
}

.final-amount {
	display: inline-block;
}

/*FORMAT & AD*/

.format {
	height: 400px;
	background-color: white;

}

.separator-2 {
	background-color: #29a936;
}

.labels {
	text-align: right;
}


.separator-1, .separator-2 , .separator-3, .separator-4 , .separator-5 {
	margin-top: 10px;
}

