

/*----------RECIPE------------*/

.recipe {
	/*border-left: 1px solid white;*/
	/*border-right: 1px solid white;*/
	height: 100px;
	padding: 0px;
}

.img-recipe {
	display: inline-block;
	width: 100%;
	height: 100%;
}


/*-----------MENUBAR-----------*/

#logo-img {
	width: 250px;
	mar

}

.menubar {
	
	background-color: #0c50d0;
}

.signup {
	color: white;
}

.menu {
	margin-top: 20px;
	text-align: center;
	height: 40px;	
	/*border: 1px solid black;*/
	
}

div.col-md-2.menu {
	/*LOGO*/
	margin-left: 20px;
}

div.col-md-1.menu {
	/*login,signup, clicks*/
	margin-right: 3px;
}

div.col-md-4 {
	/*search input*/
	top: 3px;
	width: 320px;
	margin-right: 50px;
}

#menu-last {
	width: 120px;
}

/*-----PRMOTION & CHECKOUT------*/

.promo {
	/*border:1px solid black;*/
	height: 50px;
	padding-top: 7px;
	text-align: center;
	background-color: #419641;
	color: white;
	
}

.plus3 {
	padding-top: 15px;
}


div.col-md-6.promo {
	padding-left: 60px;
}

button#dropdownMenu1.btn.btn-success.dropdown-toggle {
	margin-top: -7px;
	width: 185px;
	height: 48px;

}

.button.loginClick {
margin-left: 40px;
}

button.loginClick.btn.btn-danger{
	margin-left: 50px;
}

div.col-md-1.promo {
	/*organizes back all squares ---step 5 */
	margin-right: 1px;
	margin-left: 1px;
}

div.col-md-2.promo {
	/*aligngs promo squares again ---- step 6*/
	width: 200px;
}


/*---------SEARCHED PRODUCT--------*/

.productImage {
	border:1px solid black;
}

p.description {
	font-size: 12px;
}



.modal-content {
top:25px;
left:60%;
/*outline: none;*/
width: 470px;
/*#myModal4 .modal-dialog  {width:900px;}*/
}


h4.ItemName-text {
	margin-bottom: 40px;
	margin-top: -10px;
}

div.modal-backdrop.fade.in {
	height: 147px;
}


#list-text {
	text-align: center;
	color: #1f58c7;
}

.modal-backdrop, .modal-backdrop.fade.in {
opacity: 0.7;
filter: alpha(opacity=70);
background: none;
height: 40px;
 
}


/*----------LOG IN----------*/


div.col-md-7 {
	text-align: center;
	
	padding-top: 50px;
}


table.table-login , .back-welcome{
	background-color: rgba(50,50,50,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	width: 540px;
	height: 300px;
	border-radius: 15px;

}

.text-login , #message-digits{
	text-align: center;
	color: white;
}

#conrfirm {
	color: white;
}

.welcome-message{
	color: white;
	margin-top: 140px;
	text-align: center;
}



div.row.loginform {
	background-image: url("img/Shopping.png");
}

.inp-large {
	width: 300px;
}

/*----------SUPPORT----------*/
textarea {
	margin-top: 20px;
}


/*----------PRODUCTS----------*/
.product {
	border:1px solid #b2b2b6;
	height: 170px;
	user-select: none;
}

.form-control[disabled] {
	/* Prices display  */
	position: relative;
	background-color: rgba(239,239,239,0.4);
	width: 70px;
	text-align: center;
	float: right;
	margin-top: 120px;

}

.col-md-2.product{
	/*separates squares step 1*/
	margin-left: 4px;
	margin-right: 9px;
}

.all-products {
	position: absolute;
	z-index: -1;
	max-width: 80%;
}

.all-products-text {
	position: absolute;
	z-index: -1;
	margin-top: 120px;
	margin-right: 90px;
}


/*------AMOUNT-1-------*/

.amount-1 {
	height: 30px;
	border:1px solid #b2b2b6;
}

.amount-result {
	display: inline-block;
	
}
.amount-result-digit {
	display: inline-block;
	margin-left: 70px;
}

div.col-md-2.amount-1, div.col-md-2.amount-2 {
	padding-top: 4px;
	background-color: #c9cace;
	border-radius: 4px;
}

div.col-md-2.amount-1 {
    /*Separates squares step 2*/
	margin-left: 4px;
	margin-right: 9px;
}

div.col-md-1 {
	/*moves products and amount squares to the left --> Centers the image --- step 4*/
	margin-right: -29px;
}
/*-------AMOUNT-2-------*/

.amount-2 {
	height: 30px;
	border:1px solid #b2b2b6;
}

div.col-md-2.amount-2 {
    /*Separates squares step 3*/
	margin-left: 4px;
	margin-right: 9px;
}
/*-------BODY-------*/

.separator-1 , .separator-3, .separator-4 , .separator-5 {
	margin-top: 5px;
}

.separator-2{
	margin-top: 10px;
}

footer {
	margin-top: 20px;
	height: 10px;
	background-color: #0c50d0;
	width: 100%;
}


